<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>拖拽折线</title>

        <script src="../../lib/vue.js"></script>
        <script src="../../lib/iview.js"></script>
        <script src="../../lib/echarts.min.js"></script>
        <script src="./buttons.js"></script>
        <script src="./draglinechart.js"></script>
        <script src="./test.js"></script>
        <link rel="stylesheet" href="../../lib/iview.css">
        <link rel="stylesheet" href="./buttons.css">
        <style>

        </style>
    </head>

    <body>
        <div id="app" style="width:100%;height:100vh;background-color:#000;">
            <draglinechart ref="draglinechart" :option="chartOption" :dargconfig="dragLineConfig" style="width:100%;height:100%;">
            </draglinechart>
        </div>

    </body>
    <script>
        // 获取id test  dom  设置行内样式  display:none;
        // var test = document.getElementById("test");
        // test.style.display = "none";
        var pdp = new Vue({
            el: '#app',
            data: function () {
                return {
                    isShow: false,
                    dragLineConfig:
                    {
                        showEditButton: true,//是否显示编辑按钮
                        tableInModal: false,//是否以弹窗形式显示表格
                        showCategory: true,//是否显示分类
                        showTable: true,//是否显示表格
                        // categorys: ["range", "all"],//显示的拖拽类型
                    }
                    ,
                    // 线路的颜色不能通过lineStyle设置，因为会在选择时进行替换
                    chartOption: {
                        "legend": {
                            "icon": "rect",
                            "itemWidth": 12,
                            "itemHeight": 12,
                            "right": 50,
                            "top": 6,
                            "textStyle": {
                                "color": "#fff",
                                "fontSize": 14
                            }
                        },
                        "grid": {
                            "left": 80,
                            "right": 50,
                            "top": 60,
                            "bottom": 30
                        },
                        "xAxis": {
                            "type": "category",
                            "data": [
                                "00:15",
                                "00:30",
                                "00:45",
                                "01:00",
                                "01:15",
                                "01:30",
                                "01:45",
                                "02:00",
                                "02:15",
                                "02:30",
                                "02:45",
                                "03:00",
                                "03:15",
                                "03:30",
                                "03:45",
                                "04:00",
                                "04:15",
                                "04:30",
                                "04:45",
                                "05:00",
                                "05:15",
                                "05:30",
                                "05:45",
                                "06:00",
                                "06:15",
                                "06:30",
                                "06:45",
                                "07:00",
                                "07:15",
                                "07:30",
                                "07:45",
                                "08:00",
                                "08:15",
                                "08:30",
                                "08:45",
                                "09:00",
                                "09:15",
                                "09:30",
                                "09:45",
                                "10:00",
                                "10:15",
                                "10:30",
                                "10:45",
                                "11:00",
                                "11:15",
                                "11:30",
                                "11:45",
                                "12:00",
                                "12:15",
                                "12:30",
                                "12:45",
                                "13:00",
                                "13:15",
                                "13:30",
                                "13:45",
                                "14:00",
                                "14:15",
                                "14:30",
                                "14:45",
                                "15:00",
                                "15:15",
                                "15:30",
                                "15:45",
                                "16:00",
                                "16:15",
                                "16:30",
                                "16:45",
                                "17:00",
                                "17:15",
                                "17:30",
                                "17:45",
                                "18:00",
                                "18:15",
                                "18:30",
                                "18:45",
                                "19:00",
                                "19:15",
                                "19:30",
                                "19:45",
                                "20:00",
                                "20:15",
                                "20:30",
                                "20:45",
                                "21:00",
                                "21:15",
                                "21:30",
                                "21:45",
                                "22:00",
                                "22:15",
                                "22:30",
                                "22:45",
                                "23:00",
                                "23:15",
                                "23:30",
                                "23:45",
                                "00:00"
                            ],
                            "name": "时间",
                            "splitLine": {
                                "lineStyle": {
                                    "color": "#173d5d",
                                    "width": 1
                                }
                            },
                            "axisLabel": {
                                "color": "#3e93c3",
                                "fontSize": 14
                            },
                            "axisTick": {
                                "show": false
                            },
                            "axisLine": {
                                "lineStyle": {
                                    "color": "#173d5d",
                                    "type": "solid",
                                    "width": 1
                                }
                            },
                            "nameTextStyle": {
                                "color": "#3e93c3",
                                "fontSize": 14,
                                "verticalAlign": "top"
                            }
                        },
                        "yAxis": {
                            "type": "value",
                            "name": "负荷",
                            "alignTicks": true,
                            "splitLine": {
                                "lineStyle": {
                                    "color": "#173d5d",
                                    "width": 1
                                }
                            },
                            "axisLabel": {
                                "color": "#3e93c3",
                                "fontSize": 14
                            },
                            "axisTick": {
                                "show": false
                            },
                            "axisLine": {
                                "lineStyle": {
                                    "color": "#173d5d",
                                    "type": "solid",
                                    "width": 1
                                }
                            },
                            "nameTextStyle": {
                                "color": "#3e93c3",
                                "fontSize": 14,
                                "align": "right"
                            }
                        },
                        "color": [
                            "#e75162",
                            "#ed8851",
                            "#457eff",
                            "#f4c756",
                            "#2bb6ad",
                            "#b76cff",
                            "#299dd8"
                        ],
                        "tooltip": {
                            "trigger": "axis",
                            "backgroundColor": "rgba(0, 103, 138, 1)",
                            "confine": true,
                            "overflow": "scroll",
                            "textStyle": {
                                "color": "#E7FCFF",
                                "fontStyle": "normal",
                                "fontFamily": "PingFang SC",
                                "fontSize": 14
                            },
                            "borderWidth": 0,
                            "axisPointer": {
                                "lineStyle": {
                                    "color": "rgb(126,199,255)"
                                }
                            }
                        },
                        "series": [
                            // {
                            //     "type": "line",
                            //     "smooth": false,
                            //     "symbol": "emptyCircle",
                            //     "lineStyle": {
                            //         "width": 2
                            //     },
                            //     "name": "主网计划值",
                            //     "data": [
                            //         "2000",
                            //         "2100",
                            //         "2200",
                            //         "2300",
                            //         "2400",
                            //         "2500",
                            //         "2600",
                            //         "2700",
                            //         "2800",
                            //         "2900",
                            //         "3000",
                            //         "3100",
                            //         "3200",
                            //         "3300",
                            //         "3400",
                            //         "3500",
                            //         "3600",
                            //         "3700",
                            //         "3800",
                            //         "3900",
                            //         "4000",
                            //         "4100",
                            //         "4200",
                            //         "4300",
                            //         "4400",
                            //         "4500",
                            //         "4600",
                            //         "4700",
                            //         "4800",
                            //         "4900",
                            //         "5000",
                            //         "5100",
                            //         "5200",
                            //         "5300",
                            //         "5400",
                            //         "5500",
                            //         "5600",
                            //         "5700",
                            //         "5800",
                            //         "5900",
                            //         "6000",
                            //         "6100",
                            //         "6200",
                            //         "6300",
                            //         "6400",
                            //         "6500",
                            //         "6600",
                            //         "6700",
                            //         "6800",
                            //         "6900",
                            //         "7000",
                            //         "7100",
                            //         "7200",
                            //         "7300",
                            //         "7400",
                            //         "7500",
                            //         "7600",
                            //         "7700",
                            //         "7800",
                            //         "7900",
                            //         "8000",
                            //         "8100",
                            //         "8200",
                            //         "8300",
                            //         "8400",
                            //         "8500",
                            //         "8600",
                            //         "8700",
                            //         "8800",
                            //         "8900",
                            //         "9000",
                            //         "9100",
                            //         "9200",
                            //         "9300",
                            //         "9400",
                            //         "9500",
                            //         "9600",
                            //         "9700",
                            //         "9800",
                            //         "9900",
                            //         "10000",
                            //         "10100",
                            //         "10200",
                            //         "10300",
                            //         "10400",
                            //         "10500",
                            //         "10600",
                            //         "10700",
                            //         "10800",
                            //         "10900",
                            //         "11000",
                            //         "11100",
                            //         "11200",
                            //         "11300",
                            //         "11400",
                            //         "11500"
                            //     ]
                            // },
                            {
                                "type": "line",
                                "smooth": false,
                                "symbol": "emptyCircle",
                                "lineStyle": {
                                    "width": 2
                                },
                                "name": "修正累加值",
                                "data": [
                                    2000,
                                    2100,
                                    2199.9900000000002,
                                    2300.0200000000004,
                                    2399.98,
                                    2500,
                                    2600,
                                    2699.98,
                                    2800,
                                    2899.9700000000003,
                                    2999.9900000000002,
                                    3100.0099999999998,
                                    3199.9699999999993,
                                    3300,
                                    3400.03,
                                    3500,
                                    3600.02,
                                    3699.97,
                                    3799.9700000000003,
                                    3900.0099999999998,
                                    3999.9700000000003,
                                    4100.02,
                                    4200,
                                    4299.99,
                                    4400,
                                    4499.97,
                                    4600,
                                    4700,
                                    4799.97,
                                    4900.000000000001,
                                    5000.01,
                                    5099.97,
                                    5199.980000000001,
                                    5299.98,
                                    5400.01,
                                    5500.01,
                                    5600,
                                    5700.01,
                                    5799.97,
                                    5900.03,
                                    6000.0199999999995,
                                    6100.0199999999995,
                                    6199.9800000000005,
                                    6300.000000000001,
                                    6400.009999999999,
                                    6500.009999999999,
                                    6600.03,
                                    6700,
                                    6799.9800000000005,
                                    6899.98,
                                    7000,
                                    7100.01,
                                    7199.999999999999,
                                    7299.97,
                                    7399.99,
                                    7499.97,
                                    7599.99,
                                    7700,
                                    7799.9800000000005,
                                    7899.98,
                                    8000.009999999999,
                                    8100.01,
                                    8199.99,
                                    8300.02,
                                    8400,
                                    8499.99,
                                    8600.01,
                                    8699.98,
                                    8799.97,
                                    8900,
                                    9000,
                                    9100,
                                    9200.02,
                                    9299.97,
                                    9399.99,
                                    9499.98,
                                    9600.03,
                                    9700,
                                    9800,
                                    9900.01,
                                    10000.01,
                                    10099.98,
                                    10200,
                                    10299.970000000001,
                                    10399.970000000001,
                                    10500.000000000002,
                                    10599.97,
                                    10699.990000000002,
                                    10799.970000000001,
                                    10899.970000000001,
                                    11000.02,
                                    11099.990000000002,
                                    11200,
                                    11299.990000000002,
                                    11399.99,
                                    11499.99
                                ],
                                "yshDragSum": true
                            },
                            {
                                "type": "line",
                                "smooth": false,
                                "symbol": "emptyCircle",
                                "lineStyle": {
                                    "width": 2
                                },
                                "name": "城区",
                                "data": [
                                    102.8,
                                    103.5,
                                    109.81,
                                    112.44,
                                    116.5,
                                    118.75,
                                    124.02,
                                    130.33,
                                    131.92,
                                    136.13,
                                    139.97,
                                    147.03,
                                    150.03,
                                    156.75,
                                    156.89,
                                    160.45,
                                    169.82,
                                    166.39,
                                    167.25,
                                    178.12,
                                    180.51,
                                    185.85,
                                    192.48,
                                    198.72,
                                    215.6,
                                    215.16,
                                    227.7,
                                    220.43,
                                    242.19,
                                    234.29,
                                    258.93,
                                    271.17,
                                    271.14,
                                    284.91,
                                    276.79,
                                    282.78,
                                    298.08,
                                    305.44,
                                    303.17,
                                    315.57,
                                    304.46,
                                    314.85,
                                    341.44,
                                    325.8,
                                    326.31,
                                    342.18,
                                    344.43,
                                    339.69,
                                    340.58,
                                    360.67,
                                    351.4,
                                    364.13,
                                    357.84,
                                    374.59,
                                    383.53,
                                    369.96,
                                    385.21,
                                    402.93,
                                    383.2,
                                    405.38,
                                    414.63,
                                    417.73,
                                    429.21,
                                    430.18,
                                    435.24,
                                    441.27,
                                    432.09,
                                    465.82,
                                    475.95,
                                    467.25,
                                    486.9,
                                    478.92,
                                    514.02,
                                    499.14,
                                    494.17,
                                    525.89,
                                    539.25,
                                    519.92,
                                    532.7,
                                    537.43,
                                    551.43,
                                    588.25,
                                    578.34,
                                    572.97,
                                    589.23,
                                    590.85,
                                    589.81,
                                    586.97,
                                    593.07,
                                    586.26,
                                    589.76,
                                    574.82,
                                    600.8,
                                    616.01,
                                    603.71,
                                    602.27
                                ],
                                "yshDrag": true
                            },
                            {
                                "type": "line",
                                "smooth": false,
                                "symbol": "emptyCircle",
                                "lineStyle": {
                                    "width": 2
                                },
                                "name": "游仙",
                                "data": [
                                    352.6,
                                    366,
                                    387.89,
                                    399.71,
                                    416.5,
                                    431.25,
                                    442,
                                    471.61,
                                    481.08,
                                    494.57,
                                    511.67,
                                    529.88,
                                    553.87,
                                    575.85,
                                    593.79,
                                    588.85,
                                    619.1,
                                    646.28,
                                    633.51,
                                    654.31,
                                    683.71,
                                    702.86,
                                    689.76,
                                    730.63,
                                    744.04,
                                    751.11,
                                    769.12,
                                    771.27,
                                    812.91,
                                    806.12,
                                    853.93,
                                    885.72,
                                    910.74,
                                    947.94,
                                    1014.97,
                                    1057.73,
                                    1112.88,
                                    1190.65,
                                    1236.39,
                                    1387.6,
                                    1409.66,
                                    1459.82,
                                    1470.46,
                                    1520.28,
                                    1510.31,
                                    1566.78,
                                    1626.81,
                                    1646.86,
                                    1670.66,
                                    1742.74,
                                    1651.3,
                                    1724.49,
                                    1748.88,
                                    1736.77,
                                    1791.01,
                                    1772.46,
                                    1858.09,
                                    1844.37,
                                    1898.74,
                                    1877.94,
                                    1932.23,
                                    1910.56,
                                    2014.27,
                                    2068.6,
                                    2070.72,
                                    2076.67,
                                    2072.97,
                                    2137.96,
                                    2157.63,
                                    2129.77,
                                    2130.3,
                                    2165.15,
                                    2183.82,
                                    2197.32,
                                    2227.53,
                                    2213.09,
                                    2161.65,
                                    2141.76,
                                    2191.84,
                                    2289.73,
                                    2197.43,
                                    1961.85,
                                    1878.84,
                                    1970.68,
                                    1978.67,
                                    1963.2,
                                    1870.29,
                                    1874.18,
                                    1904.19,
                                    1936.77,
                                    1952.66,
                                    1942.34,
                                    1940.32,
                                    1986.7,
                                    2007.05,
                                    2037.47
                                ],
                                "yshDrag": true
                            },
                            {
                                "type": "line",
                                "smooth": false,
                                "symbol": "emptyCircle",
                                "lineStyle": {
                                    "width": 2
                                },
                                "name": "安州",
                                "data": [
                                    320.2,
                                    325.05,
                                    335.09,
                                    361.76,
                                    374.98,
                                    383.5,
                                    408.2,
                                    426.52,
                                    440.2,
                                    455.42,
                                    459.47,
                                    483.69,
                                    494.99,
                                    512.16,
                                    523.07,
                                    534.6,
                                    561.86,
                                    568.58,
                                    567.01,
                                    593.86,
                                    616.51,
                                    632.75,
                                    636,
                                    713,
                                    682.88,
                                    685.41,
                                    699.2,
                                    810.75,
                                    736.59,
                                    859.53,
                                    763.43,
                                    770.97,
                                    751.62,
                                    762.44,
                                    762.79,
                                    755.78,
                                    778,
                                    804.76,
                                    794.43,
                                    768.1,
                                    786.86,
                                    808.95,
                                    828.14,
                                    915.48,
                                    967.59,
                                    872.58,
                                    839.43,
                                    879.04,
                                    961.42,
                                    900.94,
                                    887.6,
                                    917.22,
                                    917.28,
                                    937.42,
                                    957.03,
                                    921.21,
                                    1009.93,
                                    979.66,
                                    1018.9,
                                    1041.33,
                                    1054.63,
                                    1133.77,
                                    1140.15,
                                    1122.4,
                                    1107.24,
                                    1140.82,
                                    1309.29,
                                    1192.27,
                                    1224.83,
                                    1370.6,
                                    1225.8,
                                    1228.76,
                                    1276.7,
                                    1284.99,
                                    1280.95,
                                    1320.09,
                                    1364.85,
                                    1448.21,
                                    1443.12,
                                    1370.02,
                                    1422.43,
                                    1524.52,
                                    1470.84,
                                    1547.35,
                                    1556.43,
                                    1567.35,
                                    1575.61,
                                    1804.63,
                                    1624.47,
                                    1659.91,
                                    1683.16,
                                    1668.17,
                                    1748.8,
                                    1800.25,
                                    1790.45,
                                    1821.27
                                ],
                                // "yshDrag": true
                            },

                            // {
                            //     "type": "line",
                            //     "smooth": false,
                            //     "symbol": "emptyCircle",
                            //     "lineStyle": {
                            //         "width": 2
                            //     },
                            //     "name": "江油",
                            //     "data": [
                            //         642.4,
                            //         713.97,
                            //         735.71,
                            //         776.22,
                            //         813.46,
                            //         870.5,
                            //         893.1,
                            //         903.07,
                            //         960.44,
                            //         1002.94,
                            //         1053.77,
                            //         1063.39,
                            //         1100.43,
                            //         1119.36,
                            //         1174.51,
                            //         1240.2,
                            //         1219.58,
                            //         1286.75,
                            //         1397.31,
                            //         1385.95,
                            //         1390.91,
                            //         1417.9,
                            //         1512.54,
                            //         1453.46,
                            //         1469.6,
                            //         1547.16,
                            //         1546.52,
                            //         1533.61,
                            //         1574.67,
                            //         1582.28,
                            //         1605.93,
                            //         1610.94,
                            //         1730.26,
                            //         1745.06,
                            //         1802.83,
                            //         1849.18,
                            //         1794.96,
                            //         1747.54,
                            //         1827.99,
                            //         1779.36,
                            //         1868.06,
                            //         1825.21,
                            //         1789.76,
                            //         1779.21,
                            //         1845.03,
                            //         1904.78,
                            //         1978.59,
                            //         2018.71,
                            //         2009.3,
                            //         2007.01,
                            //         2256.1,
                            //         2170.37,
                            //         2274.48,
                            //         2294.49,
                            //         2252.77,
                            //         2466.96,
                            //         2296.61,
                            //         2374.13,
                            //         2439.28,
                            //         2445.16,
                            //         2417.83,
                            //         2430.58,
                            //         2380.81,
                            //         2415.54,
                            //         2505,
                            //         2512.72,
                            //         2489.21,
                            //         2472.91,
                            //         2461.23,
                            //         2508.02,
                            //         2648.7,
                            //         2731.17,
                            //         2619.9,
                            //         2724.63,
                            //         2797.17,
                            //         2704.24,
                            //         2693.49,
                            //         2829.49,
                            //         2798.46,
                            //         2832.25,
                            //         2911.43,
                            //         2895.09,
                            //         3211.98,
                            //         3084.11,
                            //         3128.91,
                            //         3230.55,
                            //         3401.99,
                            //         3299.42,
                            //         3471.27,
                            //         3497.65,
                            //         3495.96,
                            //         3672.83,
                            //         3600.16,
                            //         3513.33,
                            //         3648.65,
                            //         3657.82
                            //     ],
                            //     "yshDrag": true
                            // },
                            // {
                            //     "type": "line",
                            //     "smooth": false,
                            //     "symbol": "emptyCircle",
                            //     "lineStyle": {
                            //         "width": 2
                            //     },
                            //     "name": "梓潼",
                            //     "data": [
                            //         185,
                            //         188.34,
                            //         201.77,
                            //         207.43,
                            //         216.34,
                            //         221.75,
                            //         232.96,
                            //         245.35,
                            //         249.8,
                            //         257.06,
                            //         265.37,
                            //         278.16,
                            //         286.99,
                            //         296.01,
                            //         300.71,
                            //         307.1,
                            //         324.98,
                            //         325.49,
                            //         327.61,
                            //         344.26,
                            //         358.11,
                            //         367.48,
                            //         369.3,
                            //         382.33,
                            //         409.2,
                            //         411.81,
                            //         431.94,
                            //         430.52,
                            //         459.63,
                            //         456.75,
                            //         489.93,
                            //         509.85,
                            //         506.18,
                            //         512.81,
                            //         512.77,
                            //         517.63,
                            //         540,
                            //         556.24,
                            //         551.99,
                            //         563.96,
                            //         556.46,
                            //         575.32,
                            //         601.84,
                            //         599.85,
                            //         597.03,
                            //         619.08,
                            //         620.31,
                            //         619.08,
                            //         621.42,
                            //         647.71,
                            //         632.1,
                            //         653.81,
                            //         646.56,
                            //         665.13,
                            //         684.71,
                            //         667.71,
                            //         696.05,
                            //         711.7,
                            //         694.42,
                            //         719.01,
                            //         729.83,
                            //         743.35,
                            //         752.29,
                            //         756.37,
                            //         759.48,
                            //         771.92,
                            //         761.47,
                            //         808.6,
                            //         826.19,
                            //         808.12,
                            //         836.1,
                            //         832,
                            //         869.14,
                            //         866.49,
                            //         872.05,
                            //         913.49,
                            //         949.17,
                            //         923.44,
                            //         948.22,
                            //         958.18,
                            //         974.43,
                            //         1045.78,
                            //         1020,
                            //         1043.68,
                            //         1052.03,
                            //         1048.65,
                            //         1049.85,
                            //         1041.72,
                            //         1061.79,
                            //         1069.13,
                            //         1071.56,
                            //         1048.79,
                            //         1071.2,
                            //         1097.39,
                            //         1081.37,
                            //         1092.17
                            //     ],
                            //     "yshDrag": true
                            // },
                            // {
                            //     "type": "line",
                            //     "smooth": false,
                            //     "symbol": "emptyCircle",
                            //     "lineStyle": {
                            //         "width": 2
                            //     },
                            //     "name": "北川",
                            //     "data": [
                            //         183.6,
                            //         187.08,
                            //         198.91,
                            //         203.52,
                            //         213.7,
                            //         218.5,
                            //         229.06,
                            //         239.68,
                            //         244.76,
                            //         253,
                            //         258.47,
                            //         270.72,
                            //         275.79,
                            //         287.1,
                            //         289.83,
                            //         298.7,
                            //         312.02,
                            //         311.06,
                            //         312.79,
                            //         327.1,
                            //         337.71,
                            //         348.21,
                            //         348.3,
                            //         358.68,
                            //         385.88,
                            //         392.91,
                            //         410.32,
                            //         414.54,
                            //         419.31,
                            //         413.14,
                            //         445.43,
                            //         456.81,
                            //         450.02,
                            //         457.16,
                            //         449.59,
                            //         453.83,
                            //         471.68,
                            //         481,
                            //         479.49,
                            //         482.54,
                            //         474.86,
                            //         496.63,
                            //         523.1,
                            //         515.43,
                            //         515.75,
                            //         535.23,
                            //         531.21,
                            //         533.32,
                            //         532.34,
                            //         555.25,
                            //         544.6,
                            //         567.9,
                            //         561.6,
                            //         580.45,
                            //         598.13,
                            //         581.46,
                            //         605.61,
                            //         623.92,
                            //         608.62,
                            //         625.79,
                            //         637.83,
                            //         642.1,
                            //         652.25,
                            //         658.43,
                            //         666.24,
                            //         679.27,
                            //         665.15,
                            //         705.07,
                            //         719.71,
                            //         704.88,
                            //         729.9,
                            //         720.07,
                            //         751.38,
                            //         744.66,
                            //         741.39,
                            //         793.79,
                            //         826.29,
                            //         800.25,
                            //         820.82,
                            //         831.46,
                            //         847.43,
                            //         907.41,
                            //         890.46,
                            //         899.48,
                            //         910.59,
                            //         913.2,
                            //         918.41,
                            //         902.62,
                            //         926.79,
                            //         927.43,
                            //         976.96,
                            //         982.19,
                            //         1014.08,
                            //         1052.19,
                            //         1036.91,
                            //         1041.57
                            //     ],
                            //     "yshDrag": true
                            // },
                            // {
                            //     "type": "line",
                            //     "smooth": false,
                            //     "symbol": "emptyCircle",
                            //     "lineStyle": {
                            //         "width": 2
                            //     },
                            //     "name": "盐亭",
                            //     "data": [
                            //         213.4,
                            //         216.06,
                            //         230.81,
                            //         238.94,
                            //         248.5,
                            //         255.75,
                            //         270.66,
                            //         283.42,
                            //         291.8,
                            //         300.85,
                            //         311.27,
                            //         327.14,
                            //         337.87,
                            //         352.77,
                            //         361.23,
                            //         370.1,
                            //         392.66,
                            //         395.42,
                            //         394.49,
                            //         416.41,
                            //         432.51,
                            //         444.97,
                            //         451.62,
                            //         463.17,
                            //         492.8,
                            //         496.41,
                            //         515.2,
                            //         518.88,
                            //         554.67,
                            //         547.89,
                            //         582.43,
                            //         594.51,
                            //         580.02,
                            //         589.66,
                            //         580.27,
                            //         583.08,
                            //         604.4,
                            //         614.38,
                            //         606.51,
                            //         602.9,
                            //         599.66,
                            //         619.24,
                            //         645.24,
                            //         643.95,
                            //         637.99,
                            //         659.38,
                            //         659.25,
                            //         663.3,
                            //         664.26,
                            //         685.66,
                            //         676.9,
                            //         702.09,
                            //         693.36,
                            //         711.12,
                            //         732.81,
                            //         720.21,
                            //         748.49,
                            //         763.29,
                            //         756.82,
                            //         785.37,
                            //         813.03,
                            //         821.92,
                            //         831.01,
                            //         848.5,
                            //         856.08,
                            //         877.32,
                            //         869.83,
                            //         917.35,
                            //         934.43,
                            //         911.36,
                            //         942.3,
                            //         943.93,
                            //         985.06,
                            //         982.74,
                            //         986.73,
                            //         1029.39,
                            //         1065.33,
                            //         1036.93,
                            //         1064.84,
                            //         1080.94,
                            //         1095.43,
                            //         1177.08,
                            //         1149.54,
                            //         1181.7,
                            //         1184.11,
                            //         1186.2,
                            //         1194.01,
                            //         1190.45,
                            //         1218.39,
                            //         1222.82,
                            //         1229.96,
                            //         1210.85,
                            //         1224.64,
                            //         1234.12,
                            //         1231.85,
                            //         1247.42
                            //     ],
                            //     "yshDrag": true
                            // }

                        ]
                    }
                }
            },
            mounted: function () {
                // if (this.$refs.draglinechart) {
                //     this.$refs.draglinechart.toEdit();
                // }
            }
        });

    </script>

</html>