<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="xspreadsheet.css">
        <script src="xspreadsheet.js"></script>
        <script src="zh-cn.js"></script>
    </head>

    <body>

        <div id="xspreadsheet"></div>
        <script>
            x_spreadsheet.locale('zh-cn');
            var xs = x_spreadsheet('#xspreadsheet');


        </script>
    </body>

</html>